OPENAI_API_KEY=sk-...
OPENAPI_URL=https://api.openai.com/v1/chat/completions
OPENAI_MODEL=gpt-4o-mini
STRIPE_SECRET_KEY=sk_test_...
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=Assistant Administratif AI
MOCK_AI=false
NEXT_PUBLIC_FREE_GENERATIONS=1
NEXT_PUBLIC_PRICE_PER_GENERATION=099
NEXT_PUBLIC_BG_IMG_URL=
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
NEXT_PUBLIC_GA4_ID=

DATABASE_HOST=127.0.0.1
DATABASE_NAME=database_name
DATABASE_PORT=27017
DATABASE_USER="username"
DATABASE_USERPASS="userPasswd"
#.env for prisma : DATABASE_URL=mongodb://${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?directConnection=true&ssl=false&authSource=admin
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change-me
#Email
SMTP_PASSWORD=
SMTP_FROM=
SMTP_HOST=
SMTP_PORT=465
SMTP_USER=
NEXT_PUBLIC_SERVER_EMAIL=