OPENAI_API_KEY=sk-...
OPENAPI_URL=https://api.openai.com/v1/chat/completions
OPENAI_MODEL=gpt-4o-mini
STRIPE_SECRET_KEY=sk_test_...
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=Assistant Administratif AI
MOCK_AI=false
NEXT_PUBLIC_FREE_GENERATIONS=1
DATABASE_HOST=127.0.0.1
DATABASE_NAME=database_name
DATABASE_PORT=27017
DATABASE_USER="username"
DATABASE_USERPASS="userPasswd"
#.env for prisma : DATABASE_URL=mongodb://${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?directConnection=true&ssl=false&authSource=admin
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change-me